doctype html
html
  head
    meta(charset='UTF-8')
    title='kword X'
    link(href='style.css', rel='stylesheet')
  body(id='drop-target')
    div(id='options')
     label Cols:
     input(type="text" name="cols" value="59" id="cols")
     label Rows:
     input(type="text" name="rows" value="20" id="rows")
     button(type="button" id="transformNow") Transform and Crop
     button(type="button" id="chopCharset") Chop Character Set
     label Grid Offset X:
     input(type="text" name="cols" value="0.5" id="offsetX")
     label Grid Offset Y:
     input(type="text" name="rows" value="0.5" id="offsetY")
     label Charset Start Col:
     input(type="text" name="cols" value="0" id="colStart")
     label Charset End Col:
     input(type="text" name="rows" value="24" id="colEnd")
     label Charset Start Row:
     input(type="text" name="cols" value="5" id="rowStart")
     label Charset End Row:
     input(type="text" name="rows" value="8" id="rowEnd")

    div(id='viewChop')
     canvas(id="charsetPreview" width="0" height="0")
     canvas(id="charsetOverlay" width="100" height="100")

    div(id='viewSelect')

    div(id='tabs')
     button(type='button' id='tabChop') Crop and Chop
     button(type='button' id='tabSelect') Select Chars

    script(src='https://code.jquery.com/jquery-3.1.0.slim.min.js' integrity='sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8=' crossorigin='anonymous')
    script(src='underscore-min.js')
    script(src='jquery-ui.min.js')
    script(src='scriptRewrite.js')
    != getBlock('scripts').toHTML()