doctype html
html
  head
    meta(charset='UTF-8')
    title='kword X'
    link(href='style.css', rel='stylesheet')
  body(id='drop-target')
    h1 kword X
    h3 glyph selector. drop image anywhere.
    div(id='options')
     label Cols:
     input(type="text" name="cols" value="30")
     label Rows:
     input(type="text" name="rows" value="15")
     button(type="button") Transform and Crop
     button(type="button") Undo

    // drag and drop preview
    div(id="keystoneCanvasContainer")
      canvas(id="myCanvas" width="0" height="0")
      div(id='keystones')
       div(id='keystone1')
        div(class='v')
        div(class='h')
       div(id='keystone2')
        div(class='v')
        div(class='h')
       div(id='keystone3')
        div(class='v')
        div(class='h')
       div(id='keystone4')
        div(class='v')
        div(class='h')

    script(src='https://code.jquery.com/jquery-3.1.0.slim.min.js' integrity='sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8=' crossorigin='anonymous')
    script(src='underscore-min.js')
    script(src='jquery-ui.min.js')
    script(src='scripts.js')
    != getBlock('scripts').toHTML()