doctype html
html
  head
    meta(charset='UTF-8')
    title='kword X2'
    link(href='style.css', rel='stylesheet')
  body

    div(id="topBar")
      h1 kword
      a(id="zoom" href="#") [+]
      div(id="tabs")
        button(type="button" id="show_charset_crop" class="selected") Chop Charset
        button(type="button" id="show_char_select") Select Chars
        button(type="button" id="show_combos") View Combos
        button(type="button" id="show_image_text") Image to Text
        button(type="button" id="show_layers") Type Layers

    div(id="sidebar")

      div(id='options')

        div(id="charset_options" class="show")
          h3 Chopping Options
          div
           input(type="text" value="79" id="cols")
           label Columns
          div
           input(type="text" value="7" id="rows")
           label Rows
          div
           input(type="text" value="0.6" id="offsetX")
           label Grid Offset X
          div
           input(type="text" value="0.26" id="offsetY")
           label Grid Offset Y
          div
           input(type="text" value="1" id="colStart")
           label Crop Start Col
          div
           input(type="text" value="77" id="colEnd")
           label Crop End Col
          div
           input(type="text" value="1" id="rowStart")
           label Crop Start Row
          div
           input(type="text" value="6" id="rowEnd")
           label Crop End Row
          br
          div
           button(type="button" id="chopCharset") Crop and Chop
          br
          div
           button(type="button" id="genCombos") Generate Combos
          

         div(id="image_options")
           h3 Generator Options
           div
            input(type="range" id="row_length" min="1" max="100" value="40" step="1")
            label
             b Row Length
           div
            input(type="range" id="customR" min="0" max="3" value="1" step="0.10")
            label Red
           div
            input(type="range" id="customG" min="0" max="3" value="1" step="0.10")
            label Green
           div
            input(type="range" id="customB" min="0" max="3" value="1" step="0.10")
            label Blue
           div
            select(id="bw")
             option(value="ccir") CCIR 601
             option(value="cie") CIE Luma
             option(value="flat") Equal
             option(value="red") Red
             option(value="green") Green
             option(value="blue") Blue
            label B/W Conversion
           div
            input(type="range" id="ditherAmount" min="0" max="1" value="1" step="0.1")
            label
             b Dither Amount
           div(class="hidden")
            input(type="checkbox" id="ditherFine" checked)
            label Dither Fine
           div(class="hidden")
            input(type="checkbox" id="considerSpill" checked)
            label Consider Spill?
           div
            input(type="range" id="spillRatioRight" min="0" max="1" value="0.5" step="0.1")
            label Spill Ratio R
           div
            input(type="range" id="spillRatioBottom" min="0" max="1" value="0.5" step="0.1")
            label Spill Ratio B
           div
            input(type="range" id="spillRatioBottomRight" min="0" max="1" value="0.5" step="0.1")
            label Spill Ratio BR
           div 
            input(type="range" id="spillRatio" min="0" max="1" value="1" step="0.1")
            label
             b Spill Ratio
           div
            input(type="range" id="spillBrightness" min="0" max="1" value="0.5" step="0.1")
            label Spill Brightness
           div
            input(type="range" id="maxAdjust" min="0" max="1" value="1" step="0.1")
            label
             b Max Weight
           div
            input(type="range" id="brightness" min="-128" max="128" value="0" step="1")
            label Brightness
           div
            input(type="range" id="shapeAmount" min="0" max="1" value="1" step="0.1")
            label
             b Shape Amount
           div
            input(type="range" id="contrast" min="-128" max="128" value="0" step="1")
            label Contrast

      div(id="downloads")
       h3 Download Output
       div
        a(id="download" href="#") Combined mockup
       div
        a(id="download_layer_1" href="#") Top Left Layer
       div
        a(id="download_layer_2" href="#") Top Right Layer
       div
        a(id="download_layer_3" href="#") Bottom Left Layer
       div
        a(id="download_layer_4" href="#") Bottom Right Layer


    div(id="viewport")

      div(id="view_show_charset_crop" class="show")
        div(id="charset-target")
         h4 Drop Character Set Image Here

        div(id='viewChop')
         canvas(id="charsetPreview" width="0" height="0"  class="resize")
         canvas(id="charsetOverlay" width="0" height="0" class="resize")

      div(id="view_show_char_select")
        div(id="charQuadrants")
        div(id='viewSelect')

      div(id="view_show_combos")
        div(id='comboPreview')

      div(id="view_show_image_text")
        div(id="image-target")
         h4 Drop Image To Type Here
        canvas(id="inputImage" style="display:none")
        canvas(id="outputImage" class="resize" width="0" height="0")

      div(id="view_show_layers")
        canvas(id="layer1" class="resize")
        canvas(id="layer2" class="resize")
        canvas(id="layer3" class="resize")
        canvas(id="layer4" class="resize")

    div(id="instructions" class="hidden")

      a(id="closeInstructions" href="#") [X]
      h4 Instructions
      ul
       li Drag a <a href="hermes4.png" download>prepared</a> character set image into the main area. (Download the linked image, then drag it in).
       li Click "Crop and Chop" in the left sidebar. This will preview the chop settings. Make adjustments with the controls in the left sidebar.
       li When chop settings are correct, switch to "Select Chars" in the top bar. You can continue to make adjustments here.
       li Select less than 10 characters by clicking on them, then click "Generate Combos". This can take some time.
       li Switch to "View Combos" in the top bar (optional)
       li Switch to "Image to Text" in the top bar. Drag <a href="maisie-williams.png" download>a photo</a> into the main area.
       li Make adjustments using the controls in the left sidebar.
       li Switch to "Type Layers" to view the 4 layers independently.
       li The [+] icon in the top bar toggles zoom-to-fit.


    script(src='https://code.jquery.com/jquery-3.1.0.slim.min.js' integrity='sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8=' crossorigin='anonymous')
    script(src='underscore-min.js')
    script(src='combinatorics.js')
    script(src='jquery-ui.min.js')
    script(src='Char.js')
    script(src='Combo.js')
    script(src='kword.js')
    != getBlock('scripts').toHTML()