doctype html
html
  head
    meta(charset='UTF-8')
    title='kword X'
    link(href='style.css', rel='stylesheet')
  body
    div(id="charset-target")
    div(id="image-target")
    div(id='options')
     div
      label Cols:
      input(type="text" value="59" id="cols")
     div
      label Rows:
      input(type="text" value="20" id="rows")
     div
      label Grid Offset X:
      input(type="text" value="0.5" id="offsetX")
     div
        label Grid Offset Y:
        input(type="text" value="0.73" id="offsetY")
     div
      label Charset Start Col:
      input(type="text" value="18" id="colStart")
     div
      label Charset End Col:
      input(type="text" value="20" id="colEnd")
     div
      label Charset Start Row:
      input(type="text" value="5" id="rowStart")
     div
      label Charset End Row:
      input(type="text" value="8" id="rowEnd")
     div
      label Overlap 1 On
      input(type="checkbox" id="overlap1")
     div
      label Overlap 1 +X:
      input(type="text" value="0" id="o1offsetX")
     div
      label Overlap 1 +Y:
      input(type="text" value="0.5" id="o1offsetY")
     div
      label Overlap 2 On
      input(type="checkbox" id="overlap2")
     div
      label Overlap 2 +X:
      input(type="text" value="0.5" id="o2offsetX")
     div
      label Overlap 2 +Y:
      input(type="text" value="0" id="o2offsetY")
     div
      button(type="button" id="chopCharset") Chop Character Set
      button(type="button" id="genCombos") Generate Combos

     select(id="bw")
      option(value="ccir") CCIR 601
      option(value="cie") CIE Luma
      option(value="flat") Equal
      option(value="red") Red
      option(value="green") Green
      option(value="blue") Blue
     div
      label Dither
      input(type="checkbox" id="dithering" checked)
     div
      input(type="range" id="customR" min="0" max="3" value="1" step="0.01")
      label Red
      input(type="range" id="customG" min="0" max="3" value="1" step="0.01")
      label Green
      input(type="range" id="customB" min="0" max="3" value="1" step="0.01")
      label Blue
     div
      label Row Length
      input(type="text" id="row_length" value="74")

    div(id='viewChop')
     canvas(id="charsetPreview" width="0" height="0")
     canvas(id="charsetOverlay" width="100" height="100")

    div(id='viewSelect')
    div(id='comboPreview')

    canvas(id="inputImage")

    canvas(id="outputImage")

    div(id='tabs' style="display:none")
     button(type='button' id='tabChop') Crop and Chop
     button(type='button' id='tabSelect') Select Chars

    script(src='https://code.jquery.com/jquery-3.1.0.slim.min.js' integrity='sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8=' crossorigin='anonymous')
    script(src='underscore-min.js')
    script(src='combinatorics.js')
    script(src='jquery-ui.min.js')
    script(src='scriptRewrite.js')
    != getBlock('scripts').toHTML()